/*movieApp.css*/

/* Apply custom styles to the navigation bar */
.navbar {
    background-color: #fff; /* Set your desired background color */
    border-bottom: 1px solid #ddd; /* Add a border at the bottom */
}

.navbar-brand {
    font-weight: bold; /* Make the brand text bold */
}

.navbar-nav .nav-link {
    color: #333; /* Set the link color */
}

.navbar-nav .nav-link:hover {
    color: #4285f4; /* Set the link color on hover */
}

#app {
    padding: 20px; /* Add some padding to the app content */
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.splash-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.splash-text {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.splash-button {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}